html {
    font-family: sans-serif;
}
.hidden {
    position: relative;
    left: -10000px;
    top: auto;
}
.hidden:focus {
    left: 0;
}
.main-navigation {
    background-color: #EBEBEB;
    padding: 0.75rem 0.75rem 0.75rem 100px;
    font-weight: bold;
    margin: 0px;
}
.main-navigation ul {
    list-style-type: none;
}
.main-navigation a {
    text-decoration: none;
    color: black;
}
.main-navigation li {
    display: inline-block;
    margin: 10px
}
.main-navigation ul li:not(:last-child) a:after {
    content: "/";
    color: black;
    position: absolute;
    margin-left: 10px;
    margin-top: 4px;
}
.header {
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 10%, rgba(0,143,172,1) 90%);
    color: white;
    padding: 2rem 2rem 2rem 150px;
    margin: 0px;
}
h1 {
    text-transform: uppercase;
}
h2 {
    font-weight: lighter;
    font-style: italic;
}
aside {
    float: right;
    margin-right: 10rem;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-bottom: 3rem;
    width: 15%;
}
a {
    text-decoration: none;
    color:#008FAC;
    font-size: 1rem;
}
h3 {
    text-transform: uppercase;
}
article {
    width: 40%;
    margin-left: 150px;
    margin-top: 3rem;
}
h4 {
    color:#008FAC;
}
p {
    font-size: .75rem;
    line-height: 1.5;
}
blockquote {
    line-height: 1.5;
    color:#008FAC;
}
.footer {
    display: block;
    background-image: url("./images/footer-image.jpg");
    background-color: #008FAC;
    background-size: cover;
    background-position: top center;
    text-align: center;
    margin-top: 15rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: white;
}
.footer li {
    display: inline-block;
    margin: 10px
}
.footer ul li:not(:last-child) a:after {
    content: "/";
    color: white;
    position: absolute;
    margin-left: 10px;
    margin-top: 4px;
}
.footer a {
    color:white;
    font-weight: bold;
}
.footer img{
    width: 20%;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
}
.cat {
    box-sizing: border-box;
    width: 25%;
    background-color: white;
    padding: 1rem;
    margin: 1rem 0.5rem;
}
img {
    max-width: 100%;
    height: auto;
}

